@media only screen and (max-width:850px) {
                                /* head  */
    .top-photo h3{
        width: 80%;
        padding-left: 40px;
    }
                                /* analytyical part start  */
    .app-cont{
        flex-direction: column;
    }
    .single-app{
        flex-direction: column;
    }
    .coulmn{
        border-left: none;
        border-top: 3px solid green;
    }
                                /* vedio tout start  */
    .tout-cont{
        flex-direction: column;
    }
                                /* contact start  */

    .ptalk {
        width:95%;
        height: auto;
        padding-bottom: 30px;
        border-left: rgb(103, 175, 243) 1px solid;
        border-bottom: rgb(103, 175, 243) 1px solid;
        padding-left: 10px;
        margin-bottom: 50px;
    }
    .main-contact{
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .right{
        padding-right: 0px;
        width: 100%;
    }
    .Name{
        width: 90%;
    }
    .Email{
        width: 90%;
    }
    .Subject{
        width: 90%;
    }
    .Message{
        width: 90%;
    }
    .send{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 90%;
        margin-bottom: 10px;
        margin-left: 20px;
    }
    .rest  {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 90%;
        margin-left: 20px;
        margin-bottom: 20px;
    }

}